
+-----------+          +-----------+          +-----------+
|  Client 1 |          |  Client 2 |          |  Client N |
+-----------+          +-----------+          +-----------+
         \                   |                     /
          \                  |                    /
           \                 |                   /
            \           +--------------------+
             +--------->|    Chat Server      |
                        +--------------------+

modules: 
    1.pytest